.contact-us {
    padding: 60px 50px;
    text-align: center;
    color: #333; 
    background: linear-gradient(to bottom, white, #e0f7e0);
    animation: fadeIn 1s ease-in-out; 
    font-family: 'Roboto', sans-serif; 
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.contact-us h2 {
    font-size: 3rem; 
    margin-bottom: 20px;
    transition: color 0.3s ease;
    color: #4caf50;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
}

.contact-us p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #666; 
}


.contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px; 
}

.contact-form label {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1rem;
    color: #333;
    font-family: 'Open Sans', sans-serif; 
}

.input-field {
    padding: 15px;
    border: 2px solid #4caf50;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9); 
    color: #333;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

.input-field:focus {
    border-color: #4caf50;
    outline: none;
}

.contact-form textarea {
    resize: vertical;
    min-height: 150px; 
}

.cta-button {
    padding: 12px 30px;
    background-color: #fff;
    color: #4caf50; 
    border: none;
    border-radius: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.cta-button:hover {
    background-color: #4caf50;
    color: white;
    transform: scale(1.05);
}

.icon {
    margin-right: 8px;
    color: #4caf50; 
    font-size: 1.2rem;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .contact-us {
        padding: 40px 20px;
    }

    .contact-us h2 {
        font-size: 2.5rem;
    }

    .contact-us p {
        font-size: 1.1rem;
    }

    .contact-form {
        padding: 15px;
    }

    .cta-button {
        padding: 10px 25px;
    }
}

@media (max-width: 576px) {
    .contact-us h2 {
        font-size: 2rem;
    }

    .contact-us p {
        font-size: 1rem;
    }

    .cta-button {
        padding: 10px 20px;
    }
}
